<!-- <h1 class="header">我是 header</h1>
<a href="index.html">index</a>
<a href="about.html">about</a>
<a href="contact.html">contact</a> -->

<header>
    <div class="container">
        <div class="logo">
            <a href="../pages/index.html"><img src="../assets/images/img_logo.png" alt="icon"></a>
        </div>
        <div class="header-right">
            <ul class="menu">
                <li><a href="../pages/all-cards.html">所有信用卡</a></li>
                <li><a href="../pages/search.html">刷哪張好？</a></li>
                <li><a href="../pages/compare-cards.html">信用卡比一比</a></li>
            </ul>
            <div class="menu-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <button class="login-btn">登入/註冊 &rsaquo;</button>
        </div>
    </div>
</header>