<!-- <h1 class="header">我是 header</h1>
<a href="index.html">index</a>
<a href="about.html">about</a>
<a href="contact.html">contact</a> -->

<header>
    <div class="logo">
        <img src="../assets/images/img_logo.png" alt="icon">
    </div>
    <ul>
        <li>所有信用卡</li>
        <li>刷哪張好？</li>
        <li>信用卡比一比</li>
    </ul>
    <a href="#">登入/註冊</a>
</header>