// .header{
//   background: #69F0AE;
//   font-size: 64px;
// }

// below added by angela

header {
  background-color: white;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.5em;
}

.logo img {
  width: 14em;
}

header ul {
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

header ul li {
  margin-inline: 2em;
}