.index-title {
  font-size: 100px;
}

// below added by angela

body {
  background: linear-gradient(180deg, #F4F4F4 0%, rgba(255, 255, 255, 0.00) 100%);
}

body:lang(en) {
  font-family: 'Karla', 'Oswald', sans-serif;
}

body:lang(zh) {
  font-family: 'Noto Sans TC', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.hero {
  width: 100%;
  background-image: url("../images/img_banner.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: 3em;
  padding-bottom: 19em;
}

.heading,
.search-bar {
  width: 60%;
  margin: 0 auto;
}

.heading {
  text-align: center;
}

.heading img {
  display: block;
  margin: 0 auto;
}

.heading p {
  margin-top: 1em;
}

.search-bar {
  margin-top: 1em;
  padding: 2em 3em;
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.90);
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(12px);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.search-bar-flexwrap {
  display: flex;
  align-items: center;
  gap: 1em;
}

input[type="search"] {
  width: 80%;
  padding: 0.6em;
  border: solid 2px $cus-orange;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 0px rgba(246, 189, 43, 0.50);
}

.advanced-search a {
  color: $cus-grey9F;
  text-decoration: none;
}

select {
  width: 60%;
}

.intro-block {
  margin-top: 7em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3em;
}

.intro-content-2 {
  text-align: right;
}

div h1 {
  margin-top: 0.5em;
}

div h2 {
  margin-top: 0.5em;
  font-weight: 700;
}

.intro-content-1 p {
  margin-top: 1em;
  padding: 0em 0em 1.5em 1.5em;
  border-bottom: 2px solid $cus-sky;
  border-left: 2px solid $cus-sky;
  border-bottom-left-radius: 24px;
  position: relative;
}

.intro-content-1 p::before {
  content:'';
  width: 16px;
  height: 16px;
  background-color: $cus-sky;
  border-radius: 50%;
  position: absolute;
  bottom: -8px;
  right: -2px;
}

.intro-content-2 p {
  margin-top: 1em;
  padding: 0em 1.5em 1.5em 0em;
  border-bottom: 2px solid $cus-sky;
  border-right: 2px solid $cus-sky;
  border-bottom-right-radius: 24px;
  position: relative;
}

.intro-content-2 p::before {
  content:'';
  width: 16px;
  height: 16px;
  background-color: $cus-sky;
  border-radius: 50%;
  position: absolute;
  bottom: -8px;
  left: -2px;
}

.intro-content img {
  width: 1.5em;
}

.intro-tag{
  color: $primary;
  font-weight: 700;
}

// below added by Xin
.background{
  width: 100%;
  background-image: url("img_creditcard_bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: 3em;
  padding-bottom: 19em;
  background-color: #E9E9E9;

}

.title span {
  background-color: blue;
  color: white;
  padding: 10px 15px;
  margin-right: 72px;
  border: none;
  border-radius: 8px;
  margin-left: 100px;
  
}

button:hover{
background-color: #0470FD;
}

.card-1{
  height: 456px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  margin-left: 72px;
  margin-right: 72px;
  margin-bottom: 50px;
  overflow: hidden;
}

.card-1 img{
  transform-origin: center;
  border-radius: 24px;
  width: 100%;
  height: auto;

}

.card-1 li{
  float: left;
  width: 368px;
  height: 368px;
  margin-left: 24px;
  margin-right: 24px;
  list-style: none;


}

.card-2{
  height: 456px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  margin-left: 72px;
  margin-right: 72px;
  margin-bottom: 30px;
  overflow: hidden;
 
}

.card-2 img{
  transform-origin: center;
  border-radius: 24px;
  width: 100%;
  height: auto; 
}

.card-2 li{
  float: left;
  width: 368px;
  height: 368px;
  margin-left: 24px;
  margin-right: 24px;
}

.btn a{
  color: black;
  font-size: 16px;
  float: right;
  padding-right: 80px;
  margin-top: 50px;

}
.btn  a:hover,:active{
  color: blue;
}
// below added by DoDo
.designer-title-fs{
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.36px;
}

.designer-body-1-5-fs{
  font-style: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.designer-body-1-2-fs{
  font-style: 16px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.32px;
}
.designer-button-1-5-fs{
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.28px;
}
.designer-button-1-2-fs{
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.28px;
}
.designer-button-sm-1-2-fs{
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.24px;
}
.bg-image-discount{
  background-image: url(img_discount_1.png);
}