.index-title {
  font-size: 100px;
}

// below added by angela

body {
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(180deg, #F4F4F4 0%, rgba(255, 255, 255, 0.00) 100%);
}

.container {
  width: 80%;
  margin: 0 auto;
}

.hero {
  width: 100%;
  background-image: url("../images/img_banner.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: 5em;
  padding-bottom: 15em;
}

.heading,
.search-bar {
  width: 60%;
  margin: 0 auto;
}

.heading {
  text-align: center;
}

.heading img {
  display: block;
  margin: 0 auto;
}
  

.search-bar {
  padding: 2em 3em;
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.90);
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(12px);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.search-bar-flexwrap {
  display: flex;
  gap: 1em;
}

input[type="search"] {
  width: 80%;
  padding: 0.6em;
  border: solid 2px $cus-orange;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 0px rgba(246, 189, 43, 0.50);
}

select {
  width: 60%;
}

.intro-block {
  margin-top: 7em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3em;
}

.intro-content-2 {
  text-align: right;
}

div h1 {
  margin-top: 1em;
}

div h2 {
  margin-top: 0.5em;
}

.intro-content-1 p {
  margin-top: 1em;
  padding: 0em 0em 1.5em 1.5em;
  border-bottom: 2px solid $cus-sky;
  border-left: 2px solid $cus-sky;
  border-bottom-left-radius: 24px;
}

.intro-content-2 p {
  margin-top: 1em;
  padding: 0em 1.5em 1.5em 0em;
  border-bottom: 2px solid $cus-sky;
  border-right: 2px solid $cus-sky;
  border-bottom-right-radius: 24px;
}

.intro-content img {
  width: 1.5em;
}

.intro-tag{
  color: $primary;
  font-weight: 700;
}

