<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Noto+Sans+TC:wght@400;700&family=Oswald:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="../assets/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>Card Advisor</title>
  </head>
<!-- header -->
    <%- include('./layout/header'); -%>
<div class="container p-5">
    <img class="d-block ms-auto " src="../assets/images/img_discount_1.png" alt="man">
    <div class=" row gx-5">
      <div class="col-6 col-md-4 px-10">
        <div class="bg-white p-10">
          <p class="h4 text-center mb-4">滙豐銀行現金回饋御璽卡</p>
          <img class="py-10 mb-4 img-fluid" src="../assets/images/img_cards/滙豐銀行現金回饋玉璽卡.png" alt="滙豐銀行現金回饋玉璽卡">
          <div class="text-center py-10 mb-4">
            <p class="display-5">1.22%</p>
            <p class="designer-button-1-2-fs mt-1">一般消費回饋</p>
          </div>
          <div class="text-center py-10 mb-4">
            <p class="h2">無上限</p>
            <p class="designer-button-1-2-fs mt-1">回饋上限</p>
          </div>
          <div class="text-center py-10 mb-4">
            <button class="btn btn-dark display-8 align-top p-2"><span class="material-symbols-outlined align-top pe-1">
              monetization_on
              </span>現金</button>
            <p class="designer-button-1-2-fs mt-1">回饋方式</p>
          </div>
          <div class="text-center py-10 mb-4">
            <p class="designer-button-1-5-fs">無上限</p>
            <p class="display-5">2.22%</p>
            <p class="designer-button-1-2-fs mt-1">海外消費回饋</p>
          </div>
          <div class="text-center py-10 mb-4">
            <p class="designer-button-1-5-fs">無上限</p>
            <p class="display-5">1.22%</p>
            <p class="designer-button-1-2-fs mt-1">網購消費回饋</p>
          </div>
          <div class="text-center py-10 mb-4">
            <p class="designer-button-1-5-fs">OPENPOINTS 回饋 最高</p>
            <p class="display-5">10%</p>
            <p class="designer-button-1-2-fs mt-1">行動支付回饋</p>
          </div>
          <div class="text-center py-10 mb-4">
            <p class="designer-button-1-5-fs">核卡後 30 天內刷卡消費達 3000 元</p>
            <p class="h2">威秀影城電影票<span class="display-5"> 2 </span>張</p>
            <p class="designer-button-1-2-fs mt-1">首刷禮</p>
          </div>
          <div class="py-10">
            <p class="designer-body-1-2-fs fw-bold mb-1">年費</p>
            <p class="designer-button-1-5-fs">首年免年費，次年起年費 2000 元。
              滿足以下條件免年費：</p>
            <ul class="designer-button-1-5-fs ps-3">
              <li>使用非紙本帳單（電子帳單或行動帳單）終身免年費。</li>
              <li>前一年消費滿 8 萬或 12 次享次年免年費。</li>
            </ul>  
            <p class="designer-body-1-2-fs fw-bold mb-1">公告時間</p>
            <p class="designer-button-1-5-fs">自 2023 年 7 月 1 日至 2023 年 12 月 31 日</p>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 px-10">
        <div class="bg-white p-10">
          <p class="h4 text-center mb-4">玉山 U Bear 信用卡</p>
          <img class="py-10 mb-4 img-fluid" src="../assets/images/img_cards/玉山U Bear卡.png" alt="玉山U Bear卡">
          <div class="text-center py-10 mb-4">
            <p class="display-5">1%</p>
            <p class="designer-button-1-2-fs mt-1">一般消費回饋</p>
          </div>
          <div class="text-center py-10 mb-4">
            <p class="h2">有上限</p>
            <p class="designer-button-1-2-fs mt-1">回饋上限</p>
          </div>
          <div class="text-center py-10 mb-4">
            <button class="btn btn-dark display-8 align-top p-2"><span class="material-symbols-outlined align-top pe-1">
              monetization_on
              </span>現金</button>
            <p class="designer-button-1-2-fs mt-1">回饋方式</p>
          </div>
          <div class="text-center py-10 mb-4">
            <p class="designer-button-1-5-fs">無上限</p>
            <p class="display-5">1%</p>
            <p class="designer-button-1-2-fs mt-1">海外消費回饋</p>
          </div>
          <div class="text-center py-10 mb-4">
            <p class="designer-button-1-5-fs">無上限</p>
            <p class="display-5">3%</p>
            <p class="designer-button-1-2-fs mt-1">網購消費回饋</p>
          </div>
          <div class="text-center py-10 mb-4">
            <p class="designer-button-1-5-fs">OPENPOINTS 回饋 最高</p>
            <p class="display-5">8%</p>
            <p class="designer-button-1-2-fs mt-1">行動支付回饋</p>
          </div>
          <div class="text-center py-10 mb-4">
            <p class="designer-button-1-5-fs">首次註冊玉山 Wallet，並任刷 1 筆不限金額之一般消費或玉山電子支付信用卡儲值付款</p>
            <p class="h2">刷卡金<span class="display-5"> 50 </span>元</p>
            <p class="designer-button-1-2-fs mt-1">首刷禮</p>
          </div>
          <div class="py-10">
            <p class="designer-body-1-2-fs fw-bold mb-1">年費</p>
            <p class="designer-button-1-5-fs">首年免年費，次年起年費 3000 元。
              滿足以下條件免年費：</p>
            <ul class="designer-button-1-5-fs ps-3">
              <li>使用帳單 e 化享免年費優惠。</li>
              <li>每年有消費，年年免年費。</li>
            </ul>  
            <p class="designer-body-1-2-fs fw-bold mb-1">公告時間</p>
            <p class="designer-button-1-5-fs">自 2023 年 3 月 1 日至 2024 年 2 月 29 日</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 px-10">
        <div class="bg-white p-10 sticky-top">
          <div class=" py-11 bg-white">
              <!-- Modal 按鈕 -->
            <button type="button" class="d-block mx-auto text-center btn border-cus-grey9F rounded-circle" data-bs-toggle="modal" data-bs-target="#exampleModal" style="padding:28px;border:dashed;">
            <span class="align-top material-symbols-outlined text-cus-grey9F" >
              add
              </span>
            </button>
            <p class="text-center pt-4 designer-body-1-2-fs fw-bold">新增信用卡進行比較<span class="align-top material-symbols-outlined">
              chevron_right
              </span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <img  src="../assets/images/img_discount_2.png" alt="woman">
    </div>

  
    <!-- Modal 元件 -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">搜尋欲加入比較的信用卡</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input type="text" placeholder="請輸入信用卡關鍵字">
            <button class="btn btn-primary text-white">搜尋</button>
            <div class="search_result_block d-flex p-3">
                <div class="result_card text-center">
                    <img class="" src="../assets/images/img_cards/國泰世華Cube卡.png" alt="credit card" style="width:200px">
                    <p>國泰世華Cube卡</p>
                    <button class="btn btn-primary text-white">加入比較</button>
                </div>
            </div>
            <div class="recommandCards_block">
                <p>熱門神卡</p>
                <div class="d-flex text-center">
                    <div class="recommand_card p-3">
                        <img class="" src="../assets/images/img_cards/國泰世華Cube卡.png" alt="credit card" style="width:200px">
                        <p>國泰世華Cube卡</p>
                        <button class="btn btn-primary text-white">加入比較</button>
                    </div>
                    <div class="recommand_card p-3">
                        <img class="" src="../assets/images/img_cards/國泰世華Cube卡.png" alt="credit card" style="width:200px">
                        <p>國泰世華Cube卡</p>
                        <button class="btn btn-primary text-white">加入比較</button>
                    </div>
                    <div class="recommand_card p-3">
                        <img class="" src="../assets/images/img_cards/國泰世華Cube卡.png" alt="credit card" style="width:200px">
                        <p>國泰世華Cube卡</p>
                        <button class="btn btn-primary text-white">加入比較</button>
                    </div>
                </div>
            </div>
          </div>
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            <button type="button" class="btn btn-primary">確定</button>
          </div> -->
        </div>
      </div>
    </div>
    



  </div>
  <%- include('./layout/footer'); -%>

  <script type="module" src="../main.js"></script>
</body>
</html>