<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Noto+Sans+TC:wght@400;700&family=Oswald:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="../assets/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>Card Advisor</title>
  </head>
  <body>
    <!-- header -->
    <%- include('./layout/header'); -%>
    <!-- 首頁上方白色區域 -->
    <div>
        <div class="hero">
            <div class="heading">
                <img src="../assets/images/img_creditcard.png">
                <h1>以輕鬆又快速的方式尋找最佳信用卡</h1>
                <p>我們為您提供一個簡單而強大的工具，協助您找到當下最適消費的信用卡</p>
            </div>
            <div class="search-bar">
                <div class="search-bar-flexwrap">
                  <input type="search" placeholder="輸入關鍵字，搜尋該刷一張卡（例如：加油）">
                  <div class="advanced-search"><a href="../pages/search.html"><img src="../assets/images/icon/tune_grey.png">進階搜尋</a></div>
                </div>
                <div>熱門：<a href="#">CUBE 卡</a>、<a href="#">小樹點</a>、<a href="">樹享券</a></div>
            </div>
        </div>
    </div>
    <div class="intro">
        <div class="container">
          <div class="intro-block intro-block-1">
              <div class="intro-content intro-content-1">
                  <div class="intro-tag"><img src="../assets/images/icon/mystery_blue.png">強大搜尋</div>
                  <h2>透過關鍵字輕鬆找到信用卡</h2>
                  <p class="intro-paragraph">只需填寫通路關鍵字，如「蝦皮」、「加油」、或「海外消費」，即可立即查看當下回饋最高的信用卡。不再猶豫，立刻發現最適合您消費習慣的信用卡，讓您輕鬆掌握消費優勢。
                  您將發現選擇信用卡的過程不再是煩惱，而是一個探索的過程，帶來更多選擇、更多優勢，並讓您充分享受每一筆消費。開始探索吧，發現信用卡的無限可能性！</p>
              </div>
              <img src="../assets/images/img_about_1.png">
          </div>
          <div class="intro-block intro-block-2">
              <img src="../assets/images/img_about_2.png">
              <div class="intro-content intro-content-2">
                  <div class="intro-tag"><img src="../assets/images/icon/local_fire_blue.png">最新資訊</div>
                  <h2>一覽無遺各家銀行信用卡優惠</h2>
                  <p>瀏覽各家信用卡的優惠、優惠條件以及公告時間，以確保您不會錯過任何優惠。我們將最新的資訊一一呈現，以便您隨時了解信用卡世界的最新動向。</p>
              </div>
          </div>
        </div>
      </div>
    <!-- 首頁中間灰色區域 -->
    <div class="background">
      <div class="title"><span>＞熱門信用卡</span></div>
        <div class="box-1">
          <div class="card-1">
            <img src="../assets/images/img_cards/img_cc_01.png" alt="滙豐銀行現金回饋御璽卡">
            <span>滙豐銀行現金回饋御璽卡</span>
          </div>
          <div class="card-1">
            <img src="../assets/images/img_cards/img_cc_02.png" alt="國泰世華 Cube 卡">
            <span>國泰世華 Cube 卡</span> 
          </div>
          <div class="card-1">
            <img src="../assets/images/img_cards/img_cc_03.png" alt="聯邦 LinePay 卡">
            <span>聯邦 LinePay 卡</span>
          </div>
        </div>


       <div class="title"><span>＞一般消費高回饋</span></div>
       <div class="box-2">
        <div class="card-2">
          <img src="../assets/images/img_cards/img_cc_04.png" alt="富邦 J 卡">
          <span>富邦 J 卡</span>
        </div>
        <div class="card-2">
        <img src="../assets/images/img_cards/img_cc_05.png" alt="富邦 momo 卡">
          <span>富邦 momo 卡</span>
        </div>
        <div class="card-2">
          <img src="../assets/images/img_cards/img_cc_06.png" alt="台新 Flygo 卡">
          <span>台新 Flygo 卡</span>
        </div>
      </div>

        <div class="more-cards"><a href="#">瀏覽更多信用卡＞</a></div> 
    </div>
    
    <!-- 比較信用卡 -->
      <div class="container">
        <!-- compare-title  -->
        <div class="py-9 text-center">
          <img src="../assets/images/img_discount.png" alt="discount-icon">
          <p class="h1 pb-3 my-0 ">比較優惠 把握每一個機會！</p>
          <p class="h5 fw-normal mb-0 bg-image-discount">如果您發現多張卡片讓您心動，您可以新增它們至比較列表，輕鬆比較各個卡片，確保您選擇的卡片最符合您的需求。</p>
        </div>
        <!-- compare-content  -->
        <img class="d-block ms-auto " src="../assets/images/img_discount_1.png" alt="man">
      </div>
      <div class="container border border-4 border-cus-greyD4 rounded-4 p-5">
        <div class=" row gx-5">
          <div class="col-6 col-md-4 px-10">
            <div class="bg-light px-10">
              <p class="h4 text-center mb-4">滙豐銀行現金回饋御璽卡</p>
              <img class="py-10 mb-4 img-fluid" src="../assets/images/img_cards/滙豐銀行現金回饋玉璽卡.png" alt="滙豐銀行現金回饋玉璽卡">
              <div class="text-center py-10 mb-4">
                <p class="display-5">1.22%</p>
                <p class="designer-button-1-2-fs mt-1">一般消費回饋</p>
              </div>
              <div class="text-center py-10 mb-4">
                <p class="h2">無上限</p>
                <p class="designer-button-1-2-fs mt-1">回饋上限</p>
              </div>
              <div class="text-center py-10 mb-4">
                <button class="btn btn-dark display-8 align-top p-2"><span class="material-symbols-outlined align-top pe-1">
                  monetization_on
                  </span>現金</button>
                <p class="designer-button-1-2-fs mt-1">回饋方式</p>
              </div>
              <div class="text-center py-10 mb-4">
                <p class="designer-button-1-5-fs">無上限</p>
                <p class="display-5">2.22%</p>
                <p class="designer-button-1-2-fs mt-1">海外消費回饋</p>
              </div>
              <div class="text-center py-10 mb-4">
                <p class="designer-button-1-5-fs">無上限</p>
                <p class="display-5">1.22%</p>
                <p class="designer-button-1-2-fs mt-1">網購消費回饋</p>
              </div>
              <div class="text-center py-10 mb-4">
                <p class="designer-button-1-5-fs">OPENPOINTS 回饋 最高</p>
                <p class="display-5">10%</p>
                <p class="designer-button-1-2-fs mt-1">行動支付回饋</p>
              </div>
              <div class="text-center py-10 mb-4">
                <p class="designer-button-1-5-fs">核卡後 30 天內刷卡消費達 3000 元</p>
                <p class="h2">威秀影城電影票<span class="display-5"> 2 </span>張</p>
                <p class="designer-button-1-2-fs mt-1">首刷禮</p>
              </div>
              <div class="py-10">
                <p class="designer-body-1-2-fs fw-bold mb-1">年費</p>
                <p class="designer-button-1-5-fs">首年免年費，次年起年費 2000 元。
                  滿足以下條件免年費：</p>
                <ul class="designer-button-1-5-fs ps-3">
                  <li>使用非紙本帳單（電子帳單或行動帳單）終身免年費。</li>
                  <li>前一年消費滿 8 萬或 12 次享次年免年費。</li>
                </ul>  
                <p class="designer-body-1-2-fs fw-bold mb-1">公告時間</p>
                <p class="designer-button-1-5-fs">自 2023 年 7 月 1 日至 2023 年 12 月 31 日</p>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-4 px-10">
            <div class="bg-light px-10">
              <p class="h4 text-center mb-4">玉山 U Bear 信用卡</p>
              <img class="py-10 mb-4 img-fluid" src="../assets/images/img_cards/玉山U Bear卡.png" alt="玉山U Bear卡">
              <div class="text-center py-10 mb-4">
                <p class="display-5">1%</p>
                <p class="designer-button-1-2-fs mt-1">一般消費回饋</p>
              </div>
              <div class="text-center py-10 mb-4">
                <p class="h2">有上限</p>
                <p class="designer-button-1-2-fs mt-1">回饋上限</p>
              </div>
              <div class="text-center py-10 mb-4">
                <button class="btn btn-dark display-8 align-top p-2"><span class="material-symbols-outlined align-top pe-1">
                  monetization_on
                  </span>現金</button>
                <p class="designer-button-1-2-fs mt-1">回饋方式</p>
              </div>
              <div class="text-center py-10 mb-4">
                <p class="designer-button-1-5-fs">無上限</p>
                <p class="display-5">1%</p>
                <p class="designer-button-1-2-fs mt-1">海外消費回饋</p>
              </div>
              <div class="text-center py-10 mb-4">
                <p class="designer-button-1-5-fs">無上限</p>
                <p class="display-5">3%</p>
                <p class="designer-button-1-2-fs mt-1">網購消費回饋</p>
              </div>
              <div class="text-center py-10 mb-4">
                <p class="designer-button-1-5-fs">OPENPOINTS 回饋 最高</p>
                <p class="display-5">8%</p>
                <p class="designer-button-1-2-fs mt-1">行動支付回饋</p>
              </div>
              <div class="text-center py-10 mb-4">
                <p class="designer-button-1-5-fs">首次註冊玉山 Wallet，並任刷 1 筆不限金額之一般消費或玉山電子支付信用卡儲值付款</p>
                <p class="h2">刷卡金<span class="display-5"> 50 </span>元</p>
                <p class="designer-button-1-2-fs mt-1">首刷禮</p>
              </div>
              <div class="py-10">
                <p class="designer-body-1-2-fs fw-bold mb-1">年費</p>
                <p class="designer-button-1-5-fs">首年免年費，次年起年費 3000 元。
                  滿足以下條件免年費：</p>
                <ul class="designer-button-1-5-fs ps-3">
                  <li>使用帳單 e 化享免年費優惠。</li>
                  <li>每年有消費，年年免年費。</li>
                </ul>  
                <p class="designer-body-1-2-fs fw-bold mb-1">公告時間</p>
                <p class="designer-button-1-5-fs">自 2023 年 3 月 1 日至 2024 年 2 月 29 日</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 px-10">
            <div class="bg-light px-10 sticky-top">
              <div class="py-11 bg-white text-center">
                <a class="btn border-cus-grey9F rounded-circle" href="../pages/compare-cards.html" style="padding:28px;border:dashed;">
                <!-- <button class="d-block mx-auto text-center btn border-cus-grey9F rounded-circle" onclick="window.location.href='https://https://missdouble.github.io/pages/compare-cards.html';" style="padding:28px;border:dashed;"> -->
                <span class="align-top material-symbols-outlined text-cus-grey9F" >
                  add
                  </span>
                </a>
                <p class="text-center pt-4 designer-body-1-2-fs fw-bold">新增信用卡進行比較<span class="align-top material-symbols-outlined">
                  chevron_right
                  </span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <img  src="../assets/images/img_discount_2.png" alt="woman">
        </div>
        



      </div>
    <!-- <h1 class="index-title">我是首頁</h1>

    <div class="card" style="width: 18rem">
      <img src="../assets/images/cat.jpg" class="card-img-top" alt="cat" />
      <div class="card-body">
        <h5 class="card-title">卡片元件</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, odit, iusto odio assumenda alias id
          nobis earum!
        </p>
      </div>
    </div> -->

    <!-- Modal 按鈕 -->
    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      打開 modal
    </button> -->

    <!-- Modal 元件 -->
    <!-- <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal 標題</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">內容</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            <button type="button" class="btn btn-primary">確定</button>
          </div>
        </div>
      </div>
    </div> -->

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
