<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../assets/images/favicon.png" type="image/png">
    <title>Card Advisor</title>
  </head>
  <body>
    <!-- header -->
    <%- include('./layout/header'); -%>
    <!-- 首頁上方白色區域 -->
    <div class="container">
    <div>
        <div class="hero">
            <div class="heading">
                <img src="../assets/images/img_creditcard.png">
                <h1>以輕鬆又快速的方式尋找最佳信用卡</h1>
                <p>我們為您提供一個簡單而強大的工具，協助您找到當下最適消費的信用卡</p>
            </div>
            <div class="search-bar">
                <input type="search" placeholder="輸入關鍵字，搜尋該刷一張卡（例如：加油）">
                <div><a href=""><img src="#">進階搜尋</a></div>
                <div>熱門：<a href="#">CUBE 卡</a>、<a href="#">小樹點</a>、<a href="">樹享券</a></div>
            </div>
        </div>
    </div>
    <div class="intro">
        <div class="intro-block">
            <div class="intro-content intro-content-1">
                <div class="intro-tag"><img src="../assets/images/icon/mystery_blue.png">強大搜尋</div>
                <h2>透過關鍵字輕鬆找到信用卡</h2>
                <p>只需填寫通路關鍵字，如「蝦皮」、「加油」、或「海外消費」，即可立即查看當下回饋最高的信用卡。不再猶豫，立刻發現最適合您消費習慣的信用卡，讓您輕鬆掌握消費優勢。
                您將發現選擇信用卡的過程不再是煩惱，而是一個探索的過程，帶來更多選擇、更多優勢，並讓您充分享受每一筆消費。開始探索吧，發現信用卡的無限可能性！</p>
            </div>
            <img src="../assets/images/img_about_1.png">
        </div>
        <div class="intro-block">
            <img src="../assets/images/img_about_2.png">
            <div class="intro-content intro-content-2">
                <div class="intro-tag"><img src="../assets/images/icon/local_fire_blue.png">最新資訊</div>
                <h2>一覽無遺各家銀行信用卡優惠</h2>
                <p>瀏覽各家信用卡的優惠、優惠條件以及公告時間，以確保您不會錯過任何優惠。我們將最新的資訊一一呈現，以便您隨時了解信用卡世界的最新動向。</p>
            </div>
        </div>
      </div>
    <!-- 首頁中間灰色區域 -->
      <div></div>
    <!-- 比較信用卡 -->
      <div></div>
    <!-- footer -->
      <footer></footer>
    </div>


    <h1 class="index-title">我是首頁</h1>

    <div class="card" style="width: 18rem">
      <img src="../assets/images/cat.jpg" class="card-img-top" alt="cat" />
      <div class="card-body">
        <h5 class="card-title">卡片元件</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, odit, iusto odio assumenda alias id
          nobis earum!
        </p>
      </div>
    </div>

    <!-- Modal 按鈕 -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      打開 modal
    </button>

    <!-- Modal 元件 -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal 標題</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">內容</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            <button type="button" class="btn btn-primary">確定</button>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
